$images: '../images';
$fa-font-path: "../../bower_components/components-font-awesome/fonts";
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$chosen-sprite-path: '../../bower_components/bootstrap-chosen/chosen-sprite.png';
$chosen-sprite-retina-path: '../../bower_components/bootstrap-chosen/chosen-sprite@2x.png';

$main-grid-top: 130px;
$main-header-margin: 10px;
$add-chart-chosen-width: 250px;
$iviz-header-left-case-margin: 0 5px;
$iviz-header-right-margin: 0;