$images: '../../images';
$fa-font-path: "../../fonts";
$chosen-sprite-path: '../../images/chosen-sprite.png';
$chosen-sprite-retina-path: '../../images/chosen-sprite@2x.png';

// TODO: Need to figure out what's this for.
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";