body {
  font-family: sans-serif;
}

#complete-screen {
  @import "partials/mixins";
  @import "partials/vars";
  @import "partials/grids";
  @import "partials/global";
  
  @import "components/barchart";
  @import "components/piechart";
  @import "components/breadcrumb";
  @import "components/chart-operations";
  @import "components/scatterplot";
  @import "components/survivalplot";
  @import "components/table";
}

@import "vendor/dashiboard";
@import "vendor/efdt";
@import "vendor/geneSelect";

#iviz-case-select-custom-dialog {
  width: 270px;
  input[type="radio"] {
    margin: 3px;
  }
}

.qtip-wide{max-width:380px !important;}


.dc-survival-chart-qtip {
  .category-item {
    margin: 5px;
    display: inline-flex;
    svg {
      margin: 0 5px 0 0;
    }
    span {
      font-size: 14px;
    }
  }
  .category-item:hover{
    cursor: pointer;
  }
}