* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.grid {
  max-width: 2200px;
  padding-top: 60px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  float:left;
  width: 250px;
  height: 250px;
  border:1px;
  border-color:lightgrey;
  border-style:solid;
}
.grid-item--width2 { width: 500px; }
.grid-item--height2 { height: 500px; }

.grid-item:hover {
  border-color: grey;
  background: #F8F9F9;
  cursor: move;
}
.navbar button {
  margin: 10px;
  margin-left: 20px;
}
.dc-bar-chart {
  margin-left: 45px;
  margin-top: 30px;

}
