$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  font-family: sans-serif;
}

#complete-screen {
  @import "partials/vars";
  @import "partials/grids";

  * {
    box-sizing: border-box;
  }

  #main-header {
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    bottom: -5px;
    left: 10px;
    position: relative;
  }

  #stat {
    margin-left: 10px;
    margin-top: 10px;
  }

  .navbar button {
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .view {
    display: none;
  }

  //not used
  .hide-content {
    display: none;
  }

  //Used in index.html
  .loading {
    //padding:400px;
    margin: 400px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    display: inline-block;
    width: 100px;
    height: 100px;
    content: "";
    position: relative;
  }

  @import "components/barchart";
  @import "components/piechart";
  @import "components/breadcrumb";
  @import "components/chart-operations";
  @import "components/scatterplot";
  @import "components/survivalplot";
  @import "components/vc";
}

@import "vendor/efdt";