* {
  box-sizing: border-box;
}

#main-header {
  margin: $main-header-margin;
  display: inline-block;
}

#stat {
  margin-left: 10px;
  margin-top: 10px;
}

/*.navbar button {
  margin-top: 10px;
  margin-left: 5px;
}*/

.view {
  display: none;
}

//not used
.hide-content {
  display: none;
}

//Used in index.html
.loading {
  //padding:400px;
  margin: 100px 400px;
  background-image: url($images + '/ajax-loader.gif');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  content: "";
  position: relative;
}

.start-loading {
  opacity: 0.3;
}

.show-loading {
  display: block !important;
}

.chart-loader {
  width: 100%;
  display: none;
  position: absolute;
  top: 30%;
}

.chart-title-span {
  font-size: 10px;
  color: black;
  font-weight: bold;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.bar-chart .chart-title-span {
  // There is a ghost 5px height of the dc-bar-chart, this needs to be removed once figure out the reason.
  margin-bottom: -5px;
}

#iviz-case-select-custom-dialog input[type="radio"] {
  margin: 3px;
}

#iviz-case-select-custom-dialog {
  margin: 3px 0;
}

.iviz-hidden {
  display: none;
}

.show {
  display: block;
}

.iviz-header-button {
  float: left;
  margin: 0 5px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  border: 1px solid darkgray;
  background: none;
  font-weight: normal;
  color: #555555;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 5px;
  border-color: darkgrey;
  line-height: 18px;
}

.iviz-header-button:hover {
  cursor: pointer;
}

#iviz-header-left {
  display: inline-block;
}

@media screen and (min-width: 1260px) {
  #iviz-header-right {
    float: right;
    margin: $iviz-header-right-margin;
  }
}

#iviz_add_chart_chosen {
  width: $add-chart-chosen-width !important;
  background-image: none !important;
  margin-top: -4px;
}

#iviz_add_chart_chosen > a {
  background-image: none;
  height: 30px;
  line-height: 28px;
}

div.geneValidationNotification,
div.geneAddedNotification {
  width: 400px;
  height: 15px;
  font-size: 0.8em;
}

#iviz-header-left-1 {
  font-size: 1.1em;
}

.iviz-header-left-case {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  vertical-align: middle;
  float: left;
  line-height: 30px;
  margin: $iviz-header-left-case-margin;
  span {
    float: left;
  }
  .name {
    color: black;
  }
  .content {
    color: $blue;
    line-height: 26px;
    span {
      margin: 2px 2px;
    }
  }
}

#iviz-header-left-download {
  font-size: 1.1em;
}

.iviz-header-button:hover {
  cursor: pointer;
}

.iviz-header-arrow {
  line-height: 30px;
  float: left;
  padding: 0px 5px;
  i {
    color: $blue;
    font-size: 22px;
  }
}

.iviz-button-hover {
  outline: -webkit-focus-ring-color auto 5px;
}

.iviz-cohort-component .btn {
  line-height: 18px;
  padding: 5px 12px;
}