.view {
  display: none;
}
//not used
.hide-content {
  display: none;
}
.show {
  display: block;
}

#cohort-component {
  height: inherit !important;
}

.cohort-save-button {
  height: inherit !important;
  width: inherit !important;
}

.cohort-manage-button {
  height: inherit !important;
  width: inherit !important;
  padding: 0 0 !important;
}