@import "vars";

.w1 {
  width: $grid-w-1;
}

.w2 {
  width: $grid-w-2;
}

.h1 {
  height: $grid-h-1;
}

.h2 {
  height: $grid-h-1;
}

.grid {
  max-width: 2200px;
  top: 130px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: $grid-w-1;
  height: $grid-h-1;
  border: 1px;
  border-color: lightgrey;
  border-style: solid;
}

.grid-item--width2 {
  width: $grid-w-2;
}

.grid-item--height2 {
  height: $grid-h-2;
}

.grid-item:hover {
  border-color: grey;
  //background: #F8F9F9;
  cursor: move;
}