
#breadcrumbs_container {
  font-size: 12px;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

.breadcrumb_container {
  display: inline;
  float: left;
  padding-bottom: 5px;
  margin-right: 10px;
}

.breadcrumb_remove {
  margin: 0 5px 0 2px;
}

.breadcrumb_remove:hover {
  cursor: pointer;
}

.breadcrumb_items {
  display: inline;
}

.breadcrumb_item {
  font-weight: bold;
  margin-left: 5px;
}