
#breadcrumbs_container {
  font-size: 12px;
}

.breadcrumb_container {
  display: inline;
  float: left;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
}

.breadcrumb_remove {
  vertical-align: middle;
  margin-top: -2px;
}

.breadcrumb_remove:hover {
  cursor: pointer;
}

.breadcrumb_items {
  display: inline;
}

.breadcrumb_item {
  font-weight: bold;
  margin-left: 5px;
}