
.chart-header {
  margin-top: 2px;
  height: 15px;
  .chart-title {
    width: 100%;
    float: none;
  }
  .chart-operations {
    display: none;
  }
  .icon {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-right: 4px;
    float: left;
  }
  .icon:hover {
    cursor: pointer;
  }
  .download {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    float: left;
  }
  .download:hover {
    cursor: pointer;
  }
  .bar-x-log {
    float: left;
    margin-right: 2px;
    margin-top: 3px !important;
  }
  .chart-title-span {
    @extend .chart-title-span;
  }
  .chart-operations-active {
    display: block;
    float: right;
  }
  .chart-title-active {
    width: 60%;
    float: left;
  }

  .dc-chart-pointer {
    font-size: 16px;
    color: grey;
    cursor: pointer;
  }

  .iviz-chart-header {
    height: 16px;
    width: 100%;
    text-align: center;
  }

  .dc-chart-drag {
    color: grey;
    font-size: 12px;
  }

  .dc-chart-drag:hover {
    cursor: move;
  }
}