
.chart-header {
  margin-top: 2px;
  height: $chart-header-height;
  .chart-title {
    width: 100%;
    float: none;
  }
  .chart-operations {
    display: none;
  }
  .icon {
    font-size: 12px;
    color: grey;
    float: left;
    height: 10px;
    margin: 0 2px;
  }
  .icon.fa.fa-undo {
    color: $blue;
  }
  .icon:hover {
    cursor: pointer;
  }
  .download {
    float: left;
  }
  .log-scale {
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    float: left;
    color: grey;
    margin-right: 10px;
    .checkbox {
      margin-right: 2px;
      margin-top: 1px !important;
      float: left;
    }
  }
  .chart-title-span {
    @extend .chart-title-span;
  }
  .chart-operations-active {
    display: block;
    float: right;
  }
  .chart-title-active {
    float: left;
    width: 100%;
  }
  .chart-title-active-0 {
    width: 100%; // 2 icons on chart header
  }
  .chart-title-active-1 {
    width: calc(100% - 15px); // 2 icons on chart header
  }
  .chart-title-active-2 {
    width: calc(100% - 30px); // 2 icons on chart header
  }
  .chart-title-active-3 {
    width: calc(100% - 45px); // 3 icons on chart header, each occupies 15px
  }
  .chart-title-active-4 {
    width: calc(100% - 60px); // 6 icons on chart header
  }
  .chart-title-active-5 {
    width: calc(100% - 75px); // 6 icons on chart header
  }
  .chart-title-active-6 {
    width: calc(100% - 90px); // 6 icons on chart header
  }
  .chart-title-active-7 {
    width: calc(100% - 105px); // 6 icons on chart header
  }
  .chart-title-active-8 {
    width: calc(100% - 120px); // 6 icons on chart header
  }

  .iviz-chart-header {
    height: 16px;
    width: 100%;
    text-align: center;
  }

  .dc-chart-drag {
    color: grey;
    font-size: 12px;
  }

  .dc-chart-drag:hover {
    cursor: move;
  }
}